{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
<h1>Busy times</h1>
{% block content %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Choose" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
    {% if session.calendars is defined  %}
<form action="_calc_busy_time" method="post">
  <div class="row">
  {% for cal in session.calendars if cal.selected %}
          <div class="col-md-4">
              <input type="checkbox" value="{{ cal.summary }}" name="calendar" checked> {{ cal.summary }}
              
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
  <input type="submit" value="Get busy time">
</form>
  <div class="row">
  {% for event in session.events %}
          <div class="col-md-4">
              <input type="checkbox" value="" name="calendar" checked> {{ event.summary }}
              
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}

